@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

/* Fonts */
.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Standard Layout Stuff */
html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

/* Sketch Stuff */
@media (width > 600px) {
  #sketchSlot {
    display: grid;
    grid-template-columns: 1fr minmax(600px, 1fr) 1fr;
    gap: 10px;
    width: 100%;
  }


  #sketchSlot>div {
    grid-column: 2 / 2;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

@media (orientation: portrait) {
  #sketchSlot {
    display: grid;
    gap: 10px;
    width: 100%;
  }

  #sketchSlot>div {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}


#sketchSlot>div:first-child {
  border-top-style: solid;
  border-top-width: 3em;
  border-top-color: #CCCCCC;
}

#sketchSlot>div:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-width: 1em;
  border-bottom-color: #CCCCCC;
}

#sketchSlot>div:last-child {
  text-align: center;
}

/* Sketch header styles used in nested grid */
.sketch-header {
  text-align: right;
  font-size: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sketch-header>span {
  align-self: center;
}

.sketch-header>span:first-child {
  text-align: left;
}

.sketch-header>span:last-child {
  text-align: right;
  font-size: 2em;
}

div #sketch > canvas {
  margin: auto;
};


#collectionSlot {
  display: grid;
  grid-template-columns: 1fr minmax(600px, 1fr) 1fr;
  gap: 10px;
  width: 100%;
}

#collectionSlot>div {
  grid-column: 2 / 2;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Sketch Stuff */

#collectionSlot>div:first-child {
  border-top-style: solid;
  border-top-width: 3em;
  border-top-color: #CCCCCC;
}

#collectionSlot>div:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-width: 1em;
  border-bottom-color: #CCCCCC;
}

#collectionSlot>div:last-child {
  text-align: center;
}


.collectionLinkContainer {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 100px;
  height: 100px;
}

a:link,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: #CD2020;
}