---
import { getCollection, render } from "astro:content";
import SketchLayout from "../layouts/SketchLayout.astro";
import SketchHeader from "../components/SketchHeader.astro";
import Footer from "../components/Footer.astro";

export async function getStaticPaths() {
  const sketches = await getCollection("sketches");
  const allSketchPaths = sketches.map((sketch) => ({
    params: { 
        sketch: sketch.id 
    },
    props: { sketch },
  }));
  return allSketchPaths;
}
const { sketch } = Astro.props;
const sketchSource = "/src/scripts/sketches/" + sketch.id + ".ts";
---

<SketchLayout>
  <SketchHeader sketch={sketch}/>
  <div id="sketch"></div>
  <script>
    window.autoInit = true;
  </script>
  <script type="module" is:inline src={sketchSource} data-autoIni=true></script>
  <Footer />
</SketchLayout>
