---
import { getCollection } from "astro:content";
import SketchLayout from "../layouts/SketchLayout.astro";
import SketchHeader from "../components/SketchHeader.astro";
import Footer from "../components/Footer.astro";


const sketches = await getCollection("sketches");
const sketch = sketches[Math.floor(Math.random()*sketches.length)];
const sketchSource = `../scripts/sketches/${sketch.id}.ts`;
---
<SketchLayout>
  <SketchHeader sketch={sketch}/>
  <script>
    declare const window: any;
    window.autoInit = true; 
  </script>
  <div id="sketch"></div>
  <script src="../scripts/sketches/polyfields/sketch-1.ts"></script>
  <Footer />
</SketchLayout>

