---
const { sketchTitle, sketchId, sketchURL } = Astro.props;
---

<div>
    <a href={`${import.meta.env.BASE_URL}/${sketchId}`}>
        <div id={`thumbnail-animation-${sketchId}`} class="silkscreen-regular">
            { sketchTitle }
        </div>
    </a>
</div>
