---
const { sketch } = Astro.props;
const sketchTitle = sketch.data.title;
const collectionName = sketch.id.split('/')[0];
const repositoryURL = "https://github.com/ian4d/p5js-void/blob/init/src/scripts/sketches/" + sketch.id + ".ts";
---
<div class="silkscreen-regular sketch-header">
    <span>{sketchTitle} ∈ <a href={`/p5js-void/collections`}>{collectionName}</a> :: <a href={repositoryURL} target="_blank" class="sketch-link">ℹ</a></span>
    <span><a href="/p5js-void">∞</a></span>
</div>
