---
const { title, collection, srcPath } = Astro.props;
---
<div class="silkscreen-regular sketch-header">
    <span>{title} ∈ {collection} :: <a href={srcPath} target="_blank" class="sketch-link">ℹ</a></span>
    <span><a href={import.meta.env.BASE_URL}>∞</a></span>
</div>
