---
import p5 from "p5";
import '../styles/common/global.css'
import Header from '../components/Header.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Sketch</title>
<!-- 
		<link
			rel="stylesheet"
			type="text/css"
			href="styles/common/global.css"
		/> -->

		<!-- <script src="../scripts/common/field.js"></script> -->
		<!--<script src="libraries/pegs/wiggleDot.js"></script>
		<script src="libraries/pegs/polygon.js"></script> -->
		<link href="https://fonts.googleapis.com/css2?family=Offside&display=swap" rel="stylesheet">
	</head>

	<body>
		<Header />
		<div id="sketch"></div>
		<script src="../scripts/sketches/sketch-1.ts"></script>
	</body>
</html>
